@import url("https://fonts.googleapis.com/css?family=Yrsa:300,400,500&display=swap");

html {
  --color-text-primary-invert: #b7b7b7;
  --color-text-primary-light: #616161;
  --color-text-muted: rgb(185, 185, 185);
  --color-text-secondary: #000000;
  --color-text-secondary-light: #4c4c4c;

  --color-bg-primary: #27282f;
  --color-bg-secondary: #1f2129;
  --link-hover: #1a82d6;
  --color-bg-content: #fefefe;
  /*change above*/
  --fs-small: 12px;
  --fs-normal: 14px;
  --fs-medium: 16px;
  --fs-large: 18px;

  --bg-sections: #fff;
  --bg-base: #f7f7f7;
  --color-border: #e6e6e6;

  --color-base: #3d3d3d;
  --color-text-1: #595959;
  --color-text-2: #434141;
  --color-text-3: #7b7b7b;
  --color-muted: #a8a8a8;

  --color-accent: 20, 181, 239;

  --bg-primary: transparent;
  --color-primary: #333;
  --bg-hover-primary: transparent;
  --color-hover-primary: #111;

  --bg-success: #4caf50;
  --color-success: #e8f5e9;
  --bg-hover-success: #43a047;
  --color-hover-success: #fff;

  --bg-danger: #e64a19;
  --color-danger: #fbe9e7;
  --bg-hover-danger: #d84315;
  --color-hover-danger: #fff;

  --base-shade-9: #212121;
  --base-shade-8: #424242;
  --base-shade-7: #616161;
  --base-shade-6: #757575;
  --base-shade-5: #8e8e8e;
  --base-shade-4: #8e8e8e;
  --base-shade-3: #8e8e8e;
  --base-shade-2: #eeeeee;
  --base-shade-1: #f5f5f5;

  --box-shadow: 0 2px 6px rgba(150, 150, 150, 0.26),
    0 0px 6px rgba(210, 210, 210, 0.23);

  --box-shadow-inset: inset -1px 3px 9px -3px rgba(0, 0, 0, 0.32);

  font-size: 16px;
  line-height: 1.618;
  font-family: "Yrsa", serif;
  @media (max-width: 991px) {
    font-size: 14px;
    line-height: 1.4;
  }
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  .theme-dark article {
    font-weight: 300;
  }

  .theme-light {
    --color-menu-link: #fff;
    --color-accent: 20, 181, 239;
    --color-headings: #000;
    --bg-article-item: 240, 240, 240;
    --bg-content: 255, 255, 255;
    --bg-sidebar: rgba(13, 15, 21, 1);
    --bg-list-article: 245, 245, 245;
    --bg-footer: #e6e6e6;
  }
  .theme-dark {
    --color-base: #a7aab5;
    --color-menu-link: #fff;
    --color-border: #3c3c3c;
    --color-accent: 70, 183, 70;
    --color-headings: #fff;
    --bg-article-item: 30, 34, 50;
    --bg-content: 25, 28, 39;
    --bg-sidebar: rgba(13, 15, 21, 1);
    --bg-list-article: 13, 15, 21;
    --bg-footer: #11141d;
  }
}

input:focus {
  outline: none;
}
.menu-toggle {
  display: none;
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  transition: all ease-out 0.5s;

  @media screen and (max-width: 800px) {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
  }
}

.post-detail {
  display: flex;
  flex-direction: column;

  .post-footer {
    margin: 2rem 0;
    line-height: 1.8;
    .post-tags {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-left: 0;
      li {
        display: inline-block;
        margin-bottom: 0.5rem;
        border-radius: 3px;
        padding: 5px 10px;
        background: #f4f3f1;
        font-size: 0.8rem;
        + li {
          margin-left: 0.5rem;
        }
      }
    }
  }

  #disqus_thread {
    margin: 2rem auto;
  }
}
.offscreen {
  position: absolute;
  left: -1024rem;
}

.block-404 {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  .error-block {
    text-align: center;
    h1 {
      font-size: 10rem;
      margin: 0px;
      margin-bottom: 20px;
    }
    h3 {
      text-transform: uppercase;
      margin-bottom: 10px;
      font-weight: 800;
    }
    .error-message {
      font-size: 13px;
      color: #9f9f9f;
    }
    a {
      text-transform: uppercase;
      font-size: 16px;
      color: #000;
      font-weight: bold;
    }
    .go-home {
      margin-top: 40px;
    }
  }
  .image-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-left: 50px;
    img {
      max-width: 280px;
      max-height: 280px;
    }
  }
}

@media (min-width: 800px) {
  .block-404 {
    width: 800px;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .image-404 {
    display: none !important;
  }
}

#disqus_thread_parent {
  width: 100%;
}
